// COLOR VARIABLES //
$color-black: #2d2d2d;
$color-dark-grey: #3e3e3e;
$color-light-grey: #a4a4a4;
$color-white: #eaeaea;
$color-primary: #ffc490;
$color-success: #42b883;
$color-danger: #c03537;

// TYPE FACE VARIABLES //
$font-primary: Avenir, Helvetica, Arial, sans-serif;

// FONT SIZE VARIABLES //
$base-size: 1em;
$scale-ratio: 1.2;
$text-xs: calc(#{$base-size} / (#{$scale-ratio} * #{$scale-ratio}));
$text-sm: calc(#{$base-size} / #{$scale-ratio});
$text-md: calc(#{$base-size} * #{$scale-ratio});
$text-lg: calc(#{$base-size} * #{$scale-ratio} * #{$scale-ratio});
$text-xl: calc(
  #{$base-size} * #{$scale-ratio} * #{$scale-ratio} * #{$scale-ratio}
);
$text-xxl: calc(
  #{$base-size} * #{$scale-ratio} * #{$scale-ratio} * #{$scale-ratio} * #{$scale-ratio} *
    #{$scale-ratio} * #{$scale-ratio}
);

// SPACING VARIABLES //

$space-unit: 1em;
$space-xs: calc(0.5 * #{$space-unit});
$space-sm: calc(0.75 * #{$space-unit});
$space-md: calc(1.25 * #{$space-unit});
$space-lg: calc(2 * #{$space-unit});
$space-xl: calc(3.25 * #{$space-unit});

// BREAPOINT VARIABLES //

$breakpoint-sm: 550px;
$breakpoint-md: 800px;
$breakpoint-lg: 1000px;
